# Instagram App Credentials
APP_ID=821778267625906
APP_SECRET=4c6fe5e9581c646ac7a28c552653eb80
VERIFY_TOKEN=your_verify_token

# Application URLs
REDIRECT_URI=https://9023-2405-201-c425-3915-1514-cdd-14c6-6984.ngrok-free.app/auth/callback
FRONTEND_URL=http://localhost:5173

# Database
DATABASE_URL=postgresql://user:password@localhost:5432/dbname
